
body {
    background-color: honeydew;
}
* {
    margin : 0;
}
aside {
    text-align : center;
    width : 20%;
    position : fixed;
    top : 0;
    left : 0;
    bottom : 0;  
   background-color : whitesmoke;
   font-size : 0.9em;
    color:#333;
    font-style:italic;
    overflow: hidden;
    box-shadow: black 0 0 5px;
}
aside h1{
    margin : 40px;
    font-size : 1.5em;
}
img {
    width:100px;
    border-radius:50%;
    margin-bottom : 50px;
    
}
aside p {
    margin-bottom:20px;
}
p a {
    text-decoration: none;
    color:#333;
    border-bottom : 1px solid ;
    padding : 1px;
  }
i {
    font-size : 25px;
    margin-left : 10px;
}

.follow {
  margin-top: 60px;
}
#first {
    margin-top:1px;
}
.right-container {
    margin-top : 10px;
    width : 76%;
    margin-left: 2%; 
    margin-right: 2%; 
    float : right;
    color : #666;
    padding-right : 5px;
    background-color : whitesmoke;
    box-shadow : black  0 0 1px;
    
}
h1 {
    text-align : center;
    padding : 6px;
}
.content{
    width : 70%;
    float : right;
    margin-left : 5%;
    margin-right : 5%;
    margin-top : 10px;
    text-align : justify;
    font-style : italic;
    color:#333;
    margin-bottom: 10px;
}
table{
    width:100%;
}
span{
    float: right;
}
th {
    font-size: 1.2em;
    padding-bottom: 3px;
    border-bottom: #777 dotted 1px;
}
td {
  padding-top: 6px;
}
th.th-iu {
    padding-top:20px;
}
.language,.link-strategy{
   display: inline-block;
   margin-left: 40px;
   width: 40%;
}
.link-strategy a{
    color : #333;
    
}
#link th {
    width : 85%;
   margin-left : 40px;
}
.last-line {
    text-align: end;
    margin : 40px ;
}
